<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
{% if taske %}

    <h4>Title: {{taske.title}}</h4>
    <h4>Description:  {{taske.description}}</h4>
    {% if taske.status == 'complete' %}
        <h4>Status: Complete</h4>
    {% else %}
        <h4>Status: In Progress</h4>
    {% endif %}
    <h4>Last Activity: {{taske.log}}</h4>
    <h4>Creation Date: {{taske.creation_date}}</h4>
    {% if taske.status == 'complete' %}
        <h4>Completion Date: {{taske.completion_date}}</h4>
    {% endif %}

{%else%}
    <h3>Nothing to see here</h3>
{%endif%}

<br>
<button><a href="{% url 'todo:update' taske.id %}"> update </a></button>
<br><br>
<button><a href="{% url 'todo:delete' taske.id %}"> Delete Task </a></button>
</body>
</html>